@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import '_color.scss';



@mixin mainFont{
 font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

@mixin titleFont{
    font-family: "Sonsie One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

html{
  background-color: $backgroundColor;
}
body {
    background-color: $backgroundColor;
    color: $textColor;
    @include mainFont();
  }
  
  .MuiTypography-root {
    @include mainFont();
  }

  .MuiAppBar-root {
    background-color: $backgroundColor;
    color: $textColor;
    @include mainFont();
  }
  
  .MuiToolbar-root {
    @include mainFont();
    background-color: $backgroundColor;
    color: $textColor;
  }
  
  .MuiTypography-root {
    @include mainFont();
    color: $textColor;
  }
  
  .MuiButtonBase-root {
    @include mainFont();
    color: $textColor;
  }
  #title{
    @include titleFont();
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: center;

  }
  #nav{
    background-color: #{$backgroundColor};
  }
  .css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #{$backgroundColor};
  }