@import '_color.scss';

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 206px;
  overflow-x: hidden;
  background-color: $backgroundColor;
  
}

.track {
  position: absolute;
  white-space: nowrap;
}

.track > h1 {
  margin: 20px 0;
  font-size: 3rem;
  width: 1985px;
  @include mainFont();
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $textColor;
  text-transform: uppercase;
  border: 0.1px $textColor solid;
}

img{
  margin: 0px 2%;
  width: 100px;
  transform: rotate(90deg);
}



.track {
  display: inline-block;
}



.inner-marquee-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4420.24px;
}